### Test file

In [23]:
import pandas as pd
file_name='data/links_scr.csv'
data = pd.read_csv(file_name, sep=';' ,header=None)
data

               0                                                  1      2
0     2021-05-16  https://www.dba.dk/ford-mustang-46-gt-cabriole...  False
1     2021-05-16  https://www.dba.dk/audi-a4-b6-25-tdi-180-210/i...  False
2     2021-05-16  https://www.dba.dk/renault-grand-modus-12-16v/...  False
3     2021-05-16  https://www.dba.dk/vw-passat-18-benzin-aut/id-...  False
4     2021-05-16  https://www.dba.dk/mini-cooper-15-136-hk-5-doe...  False
...          ...                                                ...    ...
3757  2021-05-16  https://www.dba.dk/fiat-500-12-lounge-benzin/i...  False
3758  2021-05-16  https://www.dba.dk/audi-a2-12-tdi-3l-tiptr/id-...  False
3759  2021-05-16  https://www.dba.dk/bmw-730d-30-steptr-diesel/i...  False
3760  2021-05-16  https://www.dba.dk/alfa-romeo-mito-13-jtd-95/i...  False
3761  2021-05-16  https://www.dba.dk/toyota-aygo-10-plus-benzin/...  False

[3762 rows x 3 columns]